# Built binaries.
oasis-indexer

# Oasis Node data.
docker/node/data
docker/node/etc/genesis.json
docker/testnet/net-runner

# Log output.
**/*.log

# API files.
index.html

# Coverage reports.
coverage.txt
