services:
  postgres:
    image: postgres:latest
    ports: [5432:5432]
    environment:
      POSTGRES_USER: indexer
      POSTGRES_PASSWORD: password
      POSTGRES_DB: indexer
  oasis-node:
    build:
      context: oasis-node
      dockerfile: ./Dockerfile
    user: oasis
    healthcheck:
      test: oasis-node control status -a unix:/node/data/internal.sock || exit 1
      interval: 5s
      retries: 10
      timeout: 5s
      start_period: 30s
    command:
      - /bin/sh
      - -c
      - oasis-node --config /node/etc/config.yml
    volumes:
      - type: bind
        source: ./node
        target: /node
  indexer:
    build:
      context: ../
      dockerfile: ./docker/indexer/Dockerfile
    depends_on:
      oasis-node:
        condition: service_healthy
    command:
      - analyze
      - --analyzer.analysis_config=/config/mainnet_config.yaml
      - --analyzer.storage_endpoint=postgresql://indexer:password@postgres:5432/indexer?sslmode=disable
    volumes:
      - type: bind
        source: ./node
        target: /node
      - type: bind
        source: ../storage/migrations
        target: /storage/migrations
      - type: bind
        source: ../config
        target: /config
volumes:
  config: {}
  go: {}
  migrations: {}
