services:
  crdb:
    image: cockroachdb/cockroach:v21.2.10
    ports:
     - 26257:26257
     - 8080:8080
    command: start-single-node --insecure
  oasis-node:
    build:
      context: oasis-node
      dockerfile: ./Dockerfile
    user: oasis
    healthcheck:
      test: oasis-node control status -a unix:/node/data/internal.sock || exit 1
      interval: 5s
      retries: 10
      timeout: 5s
      start_period: 20s
    command:
      - /bin/sh
      - -c
      - oasis-node --config /node/etc/config.yml
    volumes:
      - type: bind
        source: ./node
        target: /node
  migration:
    image: cockroachdb/cockroach:v21.2.10
    depends_on:
      - crdb
    command: sql --url postgresql://root@crdb:26257/defaultdb?sslmode=disable -f /migrations/0000-oasis-3-init.sql
    volumes:
      - type: bind
        source:  ../go/storage/migrations
        target: /migrations
  indexer:
    build:
      context: ../
      dockerfile: ./docker/indexer/Dockerfile
    depends_on:
      migration:
        condition: service_started
      oasis-node:
        condition: service_healthy
    command:
      - /bin/sh
      - -c
      - oasis-block-indexer analyze --analyzer.network_config=/config/network.yaml --analyzer.storage_endpoint=postgresql://root@crdb:26257/defaultdb?sslmode=disable
    volumes:
      - type: bind
        source: ./node
        target: /node
volumes:
  go: {}
  migrations: {}
