analysis:
  analyzers:
    - name: consensus_main_cobalt
      rpc: unix:/node/data/internal.sock
      chaincontext: b11b369e0da5bb230b220127f5e7b242d385ef8c6f54906243f30af63c815535
      from: 3027601
      to: 8048955
    - name: consensus_main_damask
      rpc: unix:/node/data/internal.sock
      chaincontext: b11b369e0da5bb230b220127f5e7b242d385ef8c6f54906243f30af63c815535
      from: 8048956
  storage:
    endpoint: postgresql://indexer:password@postgres:5432/indexer?sslmode=disable
    backend: postgres
  migrations: file:///storage/migrations

server:
  endpoint: 0.0.0.0:8008
  storage:
    endpoint: postgresql://indexer:password@postgres:5432/indexer?sslmode=disable
    backend: postgres

log:
  level: info
  format: json

metrics:
  pull_endpoint: 0.0.0.0:8009
