openapi: 3.0.3
info:
  title: Oasis Indexer API V1
  description: An API for accessing indexed data from the Oasis Network.
  version: 0.1.0

servers:
  - url: http://index.oasis.dev/v1
    description: Mainnet index endpoint.
  - url: http://index.testnet.oasis.dev/v1
    description: Testnet index endpoint.

x-common-parameters:
  - &offset
    in: query
    name: offset
    schema:
      type: integer
    description: |
      The number of items to skip before starting to collect the result set.
  - &limit
    in: query
    name: limit
    schema:
      type: integer
    description: |
      The numbers of items to return.
  - &height
    in: query
    name: height
    schema:
      type: integer
      format: int64
    description: |
      The block height from which to query state. The Oasis Indexer does not make any guarantees
      about availability of historical state data.

paths:
  /status:
    get:
      summary: Returns the indexer status.
      responses:
        '200':
          description: A JSON object containing status metadata.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Status'

  /consensus/blocks:
    get:
      summary: Returns a list of consensus blocks.
      parameters:
        - *limit
        - *offset
        - in: query
          name: from
          schema:
            type: integer
            format: int64
        - in: query
          name: to
          schema:
            type: integer
            format: int64
        - in: query
          name: after
          schema:
            type: string
            format: date-time
        - in: query
          name: before
          schema:
            type: string
            format: date-time
      responses:
        '200':
          description: A JSON object containing a list of consensus blocks.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/BlockList'

  /consensus/blocks/{height}:
    get:
      summary: Returns a consensus block.
      parameters:
        - in: path
          name: height
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A JSON object containing a consensus block.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Block'

  /consensus/transactions:
    get:
      summary: Returns a list of consensus transactions.
      parameters:
        - *limit
        - *offset
        - in: query
          name: block
          schema:
            type: integer
            format: int64
        - in: query
          name: method
          schema:
            type: string
        - in: query
          name: minFee
          schema:
            type: integer
            format: int64
        - in: query
          name: maxFee
          schema:
            type: integer
            format: int64
        - in: query
          name: code
          schema:
            type: integer
      responses:
        '200':
          description: A JSON object containing a list of consensus transactions.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/TransactionList'

  /consensus/transactions/{tx_hash}:
    get:
      summary: Returns a consensus transaction.
      parameters:
        - in: path
          name: tx_hash
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON object containing a consensus transaction.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Transaction'

  /consensus/entities:
    get:
      summary: Returns a list of entities registered at the consensus layer.
      parameters:
        - *limit
        - *offset
        - *height
      responses:
        '200':
          description: A JSON object containing a list of entities registered at the consensus layer.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/EntityList'

  /consensus/entities/{entity_id}:
    get:
      summary: Returns an entity registered at the consensus layer.
      parameters:
        - *height
        - in: path
          name: entity_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON object containing an entity registered at the consensus layer.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Entity'

  /consensus/entities/{entity_id}/nodes:
    get:
      summary: Returns a list of nodes registered at the consensus layer.
      parameters:
        - *limit
        - *offset
        - *height
        - in: path
          name: entity_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON object a list of nodes registered at the consensus layer.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/NodeList'

  /consensus/entities/{entity_id}/nodes/{node_id}:
    get:
      summary: Returns a node registered at the consensus layer.
      parameters:
        - *height
        - in: path
          name: entity_id
          required: true
          schema:
            type: string
        - in: path
          name: node_id
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON object containing a node registered at the consensus layer.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Node'

  /consensus/accounts:
    get:
      summary: Returns a list of consensus layer accounts.
      parameters:
        - *limit
        - *offset
        - *height
        - in: query
          name: minBalance
          schema:
            type: integer
            format: int64
        - in: query
          name: maxBalance
          schema:
            type: integer
            format: int64
        - in: query
          name: minEscrow
          schema:
            type: integer
            format: int64
        - in: query
          name: maxEscrow
          schema:
            type: integer
            format: int64
        - in: query
          name: minDebonding
          schema:
            type: integer
            format: int64
        - in: query
          name: maxDebonding
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A JSON object containing a list of consensus layer accounts.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/AccountList'

  /consensus/accounts/{address}:
    get:
      summary: Returns a consensus layer account.
      parameters:
        - *height
        - in: path
          name: address
          required: true
          schema:
            type: string
      responses:
        '200':
          description: A JSON object containing a consensus layer account.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Account'

  /consensus/epochs:
    get:
      summary: Returns a list of consensus epochs.
      parameters:
        - *limit
        - *offset
      responses:
        '200':
          description: A JSON object containing a list of consensus epochs.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/EpochList'

  /consensus/epochs/{epoch}:
    get:
      summary: Returns a consensus epoch.
      parameters:
        - in: path
          name: epoch
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A JSON object containing a consensus epoch.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Epoch'

  /consensus/proposals:
    get:
      summary: Returns a list of governance proposals.
      parameters:
        - *limit
        - *offset
      responses:
        '200':
          description: A JSON object containing a list of governance proposals.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ProposalList'

  /consensus/proposals/{proposal_id}:
    get:
      summary: Returns a governance proposal.
      parameters:
        - in: path
          name: proposal_id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A JSON object containing a governance proposal.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/Proposal'

  /consensus/proposals/{proposal_id}/votes:
    get:
      summary: Returns a list of votes for a governance proposal.
      parameters:
        - *limit
        - *offset
        - in: path
          name: proposal_id
          required: true
          schema:
            type: integer
            format: int64
      responses:
        '200':
          description: A JSON object containing a list of votes for a governance proposal.
          content:
            application/json:
              schema: 
                $ref: '#/components/schemas/ProposalVotes'

components:
  schemas:
    Status:
      type: object
      properties:
        latest_chain_id:
          type: string
        latest_block:
          type: integer
          format: int64
        latest_update:
          type: string
          format: date-time

    BlockList:
      type: object
      properties:
        blocks:
          type: array
          items:
            $ref: '#/components/schemas/Block'
      description: |
        A list of consensus blocks.

    Block:
      type: object
      properties: 
        height:
          type: integer
          format: int64
        hash:
          type: string
        timestamp:
          type: string
          format: date-time
      description: |
        A consensus block.

    TransactionList:
      type: object
      properties:
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'
      description: |
        A list of consensus transactions.
    
    Transaction:
      type: object
      properties: 
        height:
          type: integer
          format: int64
        hash:
          type: string
        nonce:
          type: integer
          format: int64
        fee:
          type: integer
          format: int64
        method:
          type: string
        body:
          type: string
          format: byte
        success:
          type: boolean
      description: |
        A consensus transaction.
    
    EntityList:
      type: object
      properties:
        entities:
          type: array
          items:
            $ref: '#/components/schemas/Entity'
      description: |
        A list of entities registered at the consensus layer.
    
    Entity:
      type: object
      properties: 
        id:
          type: string
        address:
          type: string
        nodes:
          type: array
          items:
            type: string
      description: |
        An entity registered at the consensus layer.
    
    NodeList:
      type: object
      properties:
        entity_id:
          type: string
        nodes:
          type: array
          items:
            $ref: '#/components/schemas/Node'
      description: |
        A list of nodes registered at the consensus layer.
    
    Node:
      type: object
      properties: 
        id:
          type: string
        entity_id:
          type: string
        expiration:
          type: integer
          format: int64
        tls_pubkey:
          type: string
        tls_next_pubkey:
          type: string
        p2p_pubkey:
          type: string
        consensus_pubkey:
          type: string
        roles:
          type: string
      description: |
        A node registered at the consensus layer.

    AccountList:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/Account'
      description: |
        A list of consensus layer accounts.
    
    Account:
      type: object
      properties: 
        address:
          type: string
        nonce:
          type: integer
          format: int64
        available:
          type: integer
          format: int64
        escrow:
          type: integer
          format: int64
        debonding:
          type: integer
          format: int64
        total:
          type: integer
          format: int64
        allowances:
          type: array
          items:
            $ref: '#/components/schemas/Allowance'
      description: |
        A consensus layer account.
    
    Allowance:
      type: object
      properties:
        address:
          type: string
        amount:
          type: integer
          format: int64
    
    EpochList:
      type: object
      properties:
        epochs:
          type: array
          items:
            $ref: '#/components/schemas/Epoch'
      description: |
        A list of consensus epochs.
    
    Epoch:
      type: object
      properties: 
        id:
          type: integer
          format: int64
        start_height:
          type: integer
          format: int64
        end_height:
          type: integer
          format: int64
      description: |
        A consensus epoch.
    
    ProposalList:
      type: object
      properties:
        proposals:
          type: array
          items:
            $ref: '#/components/schemas/Proposal'
      description: |
        A list of governance proposals.
    
    Proposal:
      type: object
      properties: 
        id:
          type: integer
          format: int64
        submitter:
          type: string
        state:
          type: string
        deposit:
          type: integer
          format: int64
        handler:
          type: string
        target:
          type: object
          properties:
            consensus_protocol:
              type: string
            runtime_host_protocol:
              type: string
            runtime_committee_protocol:
              type: string
        epoch:
          type: integer
          format: int64
        cancels:
          type: integer
          format: int64
        created_at:
          type: integer
          format: int64
        closes_at:
          type: integer
          format: int64
        invalid_votes:
          type: integer
          format: int64
      description: |
        A governance proposal.

    ProposalVotes:
      type: object
      properties:
        proposal_id:
          type: integer
          format: int64
        votes:
          type: array
          items:
            $ref: '#/components/schemas/ProposalVote'
      description: |
        A list of votes for a governance proposal.

    ProposalVote:
      type: object
      properties: 
        address:
          type: string
        vote:
          type: string
