name: CI Testing

on:
  push:
    branches:
      - main
  
  pull_request:
    branches:
      - main

jobs:
  build-go:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Install Go
        uses: actions/setup-go@v3
        with:
          go-version: '1.17'

      - name: Build indexer
        working-directory: ./go
        run: |
          go build -v ./...
          go test -v ./...
